*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb

.cursor/

# Additional LaTeX intermediate files
*.bcf
*.run.xml
*.lox
*.lof
*.lot
*.lol
*.idx
*.ilg
*.ind
*.glg
*.glo
*.gls
*.ist
*.synctex
*.synctex(busy)
